/* =================================================================
   userContent.css — styles for about: pages and content
   ================================================================= */

@import "_vars.css";
@import "_dev-tools.css";

/* =================================================================
   about: pages — apply vagari background
   ================================================================= */
@-moz-document url-prefix(about:) {
  * {
    background-color: transparent !important;
  }

  html,
  body {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
  }

  /* search bar in about:preferences */
  .sticky-container {
    background-color: var(--bg) !important;
    margin-bottom: 20px !important;
  }

  .sticky-inner-container {
    margin-bottom: -20px !important;
  }
}

/* =================================================================
   Global — hide scrollbars
   ================================================================= */
*:not(select) {
  scrollbar-width: none !important;
}

@-moz-document url(about:privatebrowsing) {
  :root {
    scrollbar-width: none !important;
  }
}
